* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1340px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1340px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1340px;
}

body header {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

body header .container .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body header .container .navbar .menu {
  display: none;
}

body header .container .navbar .nav-links {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

body header .container .navbar .nav-links .nav-link a {
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

body header .container .navbar .nav-links .btn a {
  color: #f58a07;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  padding: 18px 32px;
}

@media (max-width: 900px) {
  body header {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  body header .container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body header .container .navbar .menu {
    display: block;
  }
  body header .container .navbar .nav-links {
    display: none;
    flex-direction: row;
    gap: 32px;
  }
  body header .container .navbar .nav-links .btn a {
    color: #f58a07;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 106.5%; /* 17.04px */
    border-radius: 31px;
    background: rgba(245, 138, 7, 0.1);
    padding: 18px 32px;
  }
}
body footer {
  background: #063255;
  padding-bottom: 80px;
  padding-top: 80px;
}

body footer .container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body footer .container .footer-content .footer-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

body footer .container .footer-content .footer-left .p1 {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
  max-width: 351px;
}

body footer .container .footer-content .footer-left .p2 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body footer .container .footer-content .footer-left .icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

body footer .container .footer-content .footer-right {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

body footer .container .footer-content .footer-right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body footer .container .footer-content .footer-right ul li {
  list-style-type: none;
}

body footer .container .footer-content .footer-right ul li a {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body footer .container .footer-content .footer-right .forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body footer .container .footer-content .footer-right .forms .p3 {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

body footer .container .footer-content .footer-right .forms input {
  height: 54px;
  border-radius: 31px;
  background: #fff;
  width: 342px;
  padding-left: 21px;
}

body footer .container .footer-content .footer-right .forms button {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 19.17px */
  text-transform: capitalize;
  border-radius: 31px;
  background: #f58a07;
  height: 54px;
  width: 156px;
  border: none;
}

@media (max-width: 1120px) {
  body footer {
    background: #063255;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  body footer .container .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
  body footer .container .footer-content .footer-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  body footer .container .footer-content .footer-left .p1 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -1.08px;
    max-width: 351px;
  }
  body footer .container .footer-content .footer-left .p2 {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  body footer .container .footer-content .footer-left .icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  body footer .container .footer-content .footer-right {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  body footer .container .footer-content .footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  body footer .container .footer-content .footer-right ul li {
    list-style-type: none;
  }
  body footer .container .footer-content .footer-right ul li a {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  body footer .container .footer-content .footer-right .forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  body footer .container .footer-content .footer-right .forms .p3 {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  body footer .container .footer-content .footer-right .forms input {
    height: 54px;
    border-radius: 31px;
    background: #fff;
    width: 342px;
    padding-left: 21px;
  }
  body footer .container .footer-content .footer-right .forms button {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 106.5%; /* 19.17px */
    text-transform: capitalize;
    border-radius: 31px;
    background: #f58a07;
    height: 54px;
    width: 156px;
    border: none;
  }
}
@media (max-width: 1120px) {
  body footer {
    background: #063255;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  body footer .container .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
  body footer .container .footer-content .footer-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  body footer .container .footer-content .footer-left .p1 {
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -1.08px;
    max-width: 351px;
  }
  body footer .container .footer-content .footer-left .p2 {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  body footer .container .footer-content .footer-left .icons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  body footer .container .footer-content .footer-right {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  body footer .container .footer-content .footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  body footer .container .footer-content .footer-right ul li {
    list-style-type: none;
  }
  body footer .container .footer-content .footer-right ul li a {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  body footer .container .footer-content .footer-right .forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  body footer .container .footer-content .footer-right .forms .p3 {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  body footer .container .footer-content .footer-right .forms input {
    height: 54px;
    border-radius: 31px;
    background: #fff;
    width: 242px;
    padding-left: 21px;
  }
  body footer .container .footer-content .footer-right .forms button {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 106.5%; /* 19.17px */
    text-transform: capitalize;
    border-radius: 31px;
    background: #f58a07;
    height: 54px;
    width: 156px;
    border: none;
  }
}
body {
  margin-top: 100px;
}

body main .home {
  padding-top: 116px;
  background: #dceaf5;
}

body main .home .container {
  display: flex;
  flex-direction: row;
}

body main .home .container .home-left .p1 {
  color: #1d3444;
  /* H1 Heading */
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.92px;
  max-width: 576px;
}

body main .home .container .home-left .p2 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  max-width: 576px;
  padding-top: 12px;
  padding-bottom: 32px;
}

body main .home .container .home-left .left-btns {
  padding-top: 32px;
  padding-bottom: 56px;
}

body main .home .container .home-left .left-btns .btn1 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  text-transform: capitalize;
  width: 199px;
  height: 54px;
  border: none;
  border-radius: 27px;
  background: #f58a07;
}

body main .home .container .home-left .left-btns .btn2 {
  color: #000000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  text-transform: capitalize;
  width: 199px;
  height: 54px;
  border: none;
  border-radius: 27px;
  background: transparent;
}

body main .home .container .home-left .p3 {
  color: rgba(57, 65, 73, 0.5);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-bottom: 19px;
}

body main .home .container .home-left .icons {
  display: flex;
  flex-direction: row;
  gap: 45px;
  padding-bottom: 147px;
}

body main .home .container .home-right img {
  max-width: 700px;
}

body main .help .container .p5 {
  color: #1d3444;
  /* H2 Heading */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  max-width: 756px;
  padding-top: 96px;
  padding-bottom: 26px;
}

body main .help .container .p6 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  max-width: 756px;
}

body main .help .container .cards {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body main .help .container .cards .card {
  max-width: 400px;
}

body main .help .container .cards .card .card-text .p6 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
  padding-top: 34px;
}

body main .help .container .cards .card .card-text .p7 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  padding-top: 17px;
  padding-bottom: 24px;
}

body main .help .container .cards .card .card-text .p8 {
  color: #f58a07;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%; /* 17.04px */
}

body main .style {
  background: #edf7ff;
  padding-top: 102px;
}

body main .style .container .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body main .style .container .text .p9 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
  max-width: 620px;
}

body main .style .container .text .p10 {
  color: #1d3444;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  max-width: 620px;
}

body main .style .container .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 96px;
}

body main .style .container .cards .card {
  width: 401px;
  height: 277px;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
}

body main .style .container .cards .card .p11 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
  padding-top: 32px;
  padding-bottom: 16px;
}

body main .style .container .cards .card .p12 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */